body {
  background-color: rgb(104, 120, 198);
  color: white;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.control {
  background:rgb(63, 73, 124);
  margin: 1.5rem;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h3 {
  width: 100%
}

input {
  width: 28rem;
}

.param {
  padding: 1rem;
}

.active {
  background-color: green;
}

